a {
    color: gold;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F1BF00;
  }

.header {
    font-size: 48px;
    background-color: #AA151B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

@media screen and (max-width: 775px) {
    .header {
        font-size: 20px;
    }
}

.footer, .header {
    color: #F1BF00;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.descripText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 24px;
    background-color: #AA151B;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.content {
    padding: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
}

button {
   width: 66px; 
   background-color: #AA151B;
   color: #F1BF00;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

.yearText {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-weight: 700;
    font-size: 30px;
}